
@model List<BuddyWingStatus.Models.PlanetStatus>
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('table').dataTable({
            "bJQueryUI": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": true,
            "bPaginate": false
        });   
    });
</script>

<table id="status" class="table table-condensed table-bordered table-striped">
    <thead>
        <tr>
            <td>Planet</td>
            <td>Last requested navigation</td>
            <td>Status response</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var planet in Model)
        {
            <tr>
                <td>@planet.Name</td>
                <td>@planet.Description</td>
                
                @{

                    string color;
                    var message = planet.Message;
                    var title = (planet.HopsReturned > 0 ? string.Format("{0} hops returned", planet.HopsReturned) : planet.Message);
                    
                    if(planet.Message == "Partial Path: False" || planet.Message == "Partial Path: True")
                    {
                        message = "GOOD";
                        color = "green";
                    }
                    else
                    {
                        color = planet.Message == "BAD" ? "red" : "orange";
                    }
                }

                <td title="@title" style="text-align: center; color: @color">
                    @message
                </td>
            </tr>
        }
    </tbody>
</table>